<p>this is a secret! you must be logged in.</p>
<form  method="post" action="/group/<%=@user_id%>">
  <input type="hidden" name="_method" value="delete"/>
  <input type="submit" value="sign out"/>
</form>
