<!-- User's homepage after successful login -->
<h1>Welcome Back!</h1>
<!-- Username -->
<p>Hello, <!--user-->. </p>

<!-- Logout Button -->



<!-- View group -->
<!-- View wishlist -->
<!-- Add to wishlist -->
<!-- Send anonymous message to Hoo -->
