<!-- Homepage, Welcome Page -->
<!-- This is our welcome page and will have the user select to sign up or login -->

<h1>Welcome to Santa's Little Helper</h1>

<a href=""><h3>Sign Up</h3></a>

<a href=""><h3>Log In</h3></a>

