<!-- FIXME: Dry out this header by putting it in layout.erb -->

<div id="header">
  <img src="http://i.imgur.com/WPZSONU.png">
  <h1>Welcome to Santa's Little Helper</h1>
  <p>yeah baby, ya</p>
  <% @error = params[:error] %>
  <% if @error == "password" %>
  <%= "Incorrect password.  Please try again" %>
  <% elsif @error == "username" %>
  <%= "Username not recognized.  Please try again" %>
  <% end %>
</div>


<div id="body_container">

  <a href="/users/new">
    <div id="option_signup">
      <h3>Sign Up</h3>
    </div>
  </a>

  <a href="/login">
    <div id="option_login">
      <h3>Log In</h3>
    </div>
  </a>
</div>




