<!-- Homepage, Welcome Page -->
<!-- This is our welcome page and will have the user select to sign up or login -->
<div id="header">
  <img src="http://i.imgur.com/WPZSONU.png">
  <h1>Welcome to Santa's Little Helper</h1>
</div>


<div id="body_container">

  <a href="">
    <div id="option_signup">
      <h3>Sign Up</h3>
    </div>
  </a>

  <a href="">
    <div id="option_login">
      <h3>Log In</h3>
    </div>
  </a>

</div>
