<div id="body_container2">
  <form action="/login" method="post" class="login_container">
      <h2>Log in to get started</h2>
      <label>
          <h3>Email</h3>
          <input type="text" name="email">
      </label>
      <label>
          <h3>Password</h3>
          <input type="password" name="password">
      </label>
          <br><br>
      <center><input type="submit" value="Login"></center>
  </form>
</div>
