<!-- Form for user to login name and password -->
<div id="header">
  <img src="http://i.imgur.com/WPZSONU.png">
  <h1>Welcome to Santa's Little Helper</h1>
  <p>yeah baby, ya</p>
</div>


<div id="body_container2">


<!-- <div id="login_container"> -->
  <form action="/login" method="post" class="login_container">
      <h2>Log in to get started</h2>
      <label>
          <h3>Username</h3>
          <input type="text" name="user_name" placeholder="Type your username here.">
      </label>
      <label>
          <h3>Password</h3>
          <input type="text" name="password" placeholder="Type your password here.">
      </label>
          <br><br>
      <center><input type="submit" value="Login"></center>
  </form>
<!-- </div> -->


</div>  <!--END BODY CONTAINER-->
