<!-- Page for Creating a new account -->
<h3>New to Santa's Little Helper? Sign up</h3>
<form action="/new_user" method="post">
    <input type="text" name="user_name" placeholder="user name">
    <input type="text" name="password" placeholder="password">
    <input type="text" name="email" placeholder="email">
    <input type="submit">
  </form>
